apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"rbac.authorization.k8s.io/v1","kind":"ClusterRole","metadata":{"annotations":{},"name":"fluent-bit-read"},"rules":[{"apiGroups":[""],"resources":["namespaces","pods"],"verbs":["get","list","watch"]}]}
  creationTimestamp: "2026-02-21T00:21:13Z"
  name: fluent-bit-read
  resourceVersion: "936"
  uid: 392f33bf-13d7-48a4-bef6-ab6b3d869a6a
rules:
- apiGroups:
  - ""
  resources:
  - namespaces
  - pods
  verbs:
  - get
  - list
  - watch
